<html>

<head>
   <link rel="stylesheet" href="{{url_for('static',filename='styles/page.css')}}" <!-- Latest compiled and minified CSS
      -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

   <!-- jQuery library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

   <!-- Latest compiled JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body class="bg-dark">
   <nav class="navbar navbar-inverse" style="margin-bottom: 0; border-radius: 0;">
      <div class="container-fluid">
         <div class="navbar-header ">
            <a class="navbar-brand" href="about">{{name}}</a>
         </div>
         <ul class="nav navbar-nav">
            <li><a href="ex">Example</a></li>
            <li><a href="chat">Chat</a></li>
            <li><a href="welcome">Welcome</a></li>
            <li><a href="/">Home</a></li>
            {{ login|safe }}
         </ul>
      </div>
   </nav>
   <div class="container" style="float:left;width:fit-content;padding:0;">
      <nav class="navbar navbar-inverse" style="border-radius: 0;">

         <!-- Links -->
         <ul class="nav flex-column">
            <li class="nav-item">
               <a class="nav-link" href="?usrprof">User Profile</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="?usrpref">User Prefrences</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="?sitepref">Site Prefrences</a>
            </li>
         </ul>

      </nav>
   </div>
   <div class="container" style="float:left;width:fit-content;padding:0;">
      <nav class="narbar-inverse navbar-fixed-bottom">
         <ul class="nav flex-column">
            <li class="nav-item fixed-bottom">
               <a class="nav-link" href="?logout">Logout</a>
            </li>
         </ul>
      </nav>
   </div>
</body>

</html>