<html>

<head>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/page.css') }}">
</head>

<body>
   <ul class="navbar">
      <li class="home"><a href="/">Home</a></li>
      <div class="Login">
      {{login|safe}}
      </div>
      <li><a href="welcome">Welcome</a></li>
      <li><a href="chat">Chat</a></li>
   </ul>
   <div class="wrapper">
   <div class="usernavbar">
   <ul class="usernavbar">
    <li><a href="?usrprof">User Profile</a></li>
    <li><a href="?usrpref">User Settings</a></li>
    <!--><li><a href="?sitepref">Site Prefrences</a></li></!-->
    <li style="float:bottom;"><a href="?logout">Logout</a></li>
   </ul></div>
   <div class="panel">
       {{panel|safe}}
   </div>
    </div>
</body>

</html>