<html>

<head>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/page.css') }}">
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <style>
      label {
  background-color: darkgray;
  color: LightGray;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}
   </style>
</head>

<body>
   <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">{name}</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
          <li class="active"><a href="chat">Chat</a></li>
          {{ login|safe }}
        </ul>
      </div>
    </nav>
   <div class="outer">
      {{total|safe}} 
   </div>
   <div class = "writebar"><form enctype="multipart/form-data" action="/chat" method="post"><input placeholder="message" type="file" hidden accept="image/*" name="Image" id="image"><label for="image">Choose File</label><input type="submit" value="Send"></form></div>
   
</body>

</html>