<html>

   <head>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/page.css') }}">
   </head>

   <body>  
      <ul class="navbar">
         <li class="home"><a href="/">Home</a></li>
         <div class="Login">
         {{login|safe}}
         </div>
         <li><a href="welcome">Welcome</a></li>
         <li><a href="chat">Chat</a></li>
      </ul>
      <form action = "/signup" method = "post" class = "loginform">
          <div class = "error">{{error}}</div>
 
      <p>Username<br><input type = "text" name = "nm" /><br>Password<br><input type = "password" name="pwd"/></p>
      
       
      
      <p><input type = "submit" value = "submit" />
      </p>
 
 
      </form>     
   </body>
</html>